@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/*for main heading*/
.heading{
    font-size: 40px;
    color: white;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
          -3px 0px 7px rgba(81,67,21,0.8), 
          0px 4px 7px rgba(81,67,21,0.8);
}
.dis{
   border-bottom: 2px solid;
   width: 50%;
   margin: 0 auto;
}
.display{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 2px 4px blue;
    
}
.header-img{
    background-image: url(img/lota.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    opacity: 0.8;
}